Repository swift-bitcoin/swift-bitcoin, pull requests merged in 2025-02, with the labels that each got.

#318 Base58: remove BigUInt dependency
  src/bitcoin-crypto/codec/Base58.swift
  src/bitcoin-crypto/codec/Base58/Base58.swift
  src/bitcoin-crypto/codec/Base58/BigUInt.swift
Labels: Refactor, Optimization, Codec

#327 Feature/326 benchmark base58
  src/bitcoin-crypto/codec/Base58.swift
  src/bitcoin-crypto/codec/Base58/Base58.swift
  src/bitcoin-crypto/codec/Base58/BigUInt.swift
  test/bitcoin-crypto/Base58Tests.swift
Labels: Refactor, Testing, Optimization, Codec, Performance

#329 Update deps (NIO+)
  Package.resolved
  src/bitcoin-base/script/SigHash.swift
  src/bitcoin-base/script/TapscriptExtension.swift
  src/bitcoin-blockchain/BlockStorage.swift
  src/bitcoin-blockchain/BlockchainService.swift
  src/bitcoin-blockchain/CoinsIndex.swift
  src/bitcoin-blockchain/block/TxBlock.swift
  src/bitcoin-crypto/codec/Binary/CustomBinaryCodable.swift
  src/bitcoin-node/commands/Start.swift
  src/bitcoin-node/nio/MessageCoder.swift
  src/bitcoin-node/services/P2PClientService.swift
  src/bitcoin-node/services/P2PService.swift
  src/bitcoin-node/services/RPCService.swift
  src/bitcoin-utility/commands/Node.swift
  src/bitcoin-utility/commands/SignTransaction.swift
  src/bitcoin-utility/node/launchRPCClient.swift
  src/bitcoin-wallet/TxSigner.swift
  src/lmdb/Cursor.swift
  src/lmdb/Database+Sequence.swift
  src/lmdb/Database.swift
  src/lmdb/Environment.swift
  src/nio-json-rpc/BruteForceCodec.swift
  src/nio-json-rpc/ChannelPipeline+.swift
  src/nio-json-rpc/JSONPosCodec.swift
  src/nio-json-rpc/NewlineEncoder.swift
  test/bitcoin-transport/NodeBootstrapTests.swift
  test/bitcoin/BaseDocumentationExamples.swift
  test/bitcoin/DocumentationExamples.swift
  test/bitcoin/WalletDocumentationExamples.swift
Labels: Refactor, Bugfix, Transport, Blocks, Persistence, File System

#339 Get blockchain info RPC command #338
  Package.swift
  src/bitcoin-blockchain/BlockIndex.swift
  src/bitcoin-blockchain/BlockStorage.swift
  src/bitcoin-blockchain/BlockchainService.swift
  src/bitcoin-blockchain/ConsensusParams.swift
  src/bitcoin-blockchain/block/BlockRef.swift
  src/bitcoin-node/commands/Start.swift
  src/bitcoin-rpc/commands/GenerateToPubkeyCommand.swift
  src/bitcoin-rpc/commands/GetBlockchainInfoCommand.swift
  src/bitcoin/Documentation.docc/Running.md
  test/bitcoin-blockchain/BlockchainServiceTests.swift
  test/bitcoin-rpc/CommandTests.swift
Labels: Documentation, Testing, RPC, Blocks, API, Core

#341 Help, disconnect peer, get peer info RPC commands
  src/bitcoin-blockchain/BlockchainService.swift
  src/bitcoin-node/services/P2PClientService.swift
  src/bitcoin-node/services/P2PService.swift
  src/bitcoin-node/services/RPCService.swift
  src/bitcoin-rpc/RPCCommand.swift
  src/bitcoin-rpc/commands/ConnectCommand.swift
  src/bitcoin-rpc/commands/DisconnectPeerCommand.swift
  src/bitcoin-rpc/commands/GenerateToPubkeyCommand.swift
  src/bitcoin-rpc/commands/GetBlockCommand.swift
  src/bitcoin-rpc/commands/GetBlockHashCommand.swift
  src/bitcoin-rpc/commands/GetBlockchainInfoCommand.swift
  src/bitcoin-rpc/commands/GetMempoolCommand.swift
  src/bitcoin-rpc/commands/GetPeerInfoCommand.swift
  src/bitcoin-rpc/commands/GetStatusCommand.swift
  src/bitcoin-rpc/commands/GetTransactionCommand.swift
  src/bitcoin-rpc/commands/HelpCommand.swift
  src/bitcoin-rpc/commands/SendTransactionCommand.swift
  src/bitcoin-rpc/commands/StartP2PCommand.swift
  src/bitcoin-rpc/commands/StopCommand.swift
  src/bitcoin-rpc/commands/StopP2PCommand.swift
  src/bitcoin-transport/NodeService+Error.swift
  src/bitcoin-transport/NodeService.swift
  src/bitcoin-transport/NodeState.swift
  src/bitcoin-utility/commands/BitcoinUtility.swift
  src/bitcoin-utility/commands/Node.swift
  src/bitcoin-utility/commands/Node/Connect.swift
  src/bitcoin-utility/commands/Node/DisconnectPeer.swift
  src/bitcoin-utility/commands/Node/SendCommand.swift
  src/bitcoin-utility/commands/Node/StartP2P.swift
  src/bitcoin-utility/commands/Node/Stop.swift
  src/bitcoin-utility/commands/Node/StopP2P.swift
  test/bitcoin-rpc/CommandTests.swift
Labels: Documentation, Refactor, Bugfix, Utility, Transport, RPC

#343 Updated deps.
  .swiftpm/xcode/xcshareddata/xcschemes/Bitcoin.xcscheme
  .swiftpm/xcode/xcshareddata/xcschemes/swift-bitcoin.xcscheme
  Package.resolved
  src/bitcoin-node/services/P2PClientService.swift
  swift-bitcoin.xctestplan
Labels: Bugfix, Transport, Frameworks

#346 Generate to address command implemented #345
  .swiftpm/xcode/xcshareddata/xcschemes/swift-bitcoin.xcscheme
  CONTRIBUTING.md
  CONTRIBUTORS.txt
  Package.swift
  README.md
  src/bitcoin-base/Documentation.docc/BitcoinBase.md
  src/bitcoin-base/transaction/BitcoinTx.swift
  src/bitcoin-blockchain/BlockchainService.swift
  src/bitcoin-blockchain/Documentation.docc/BitcoinBlockchain.md
  src/bitcoin-crypto/Documentation.docc/BitcoinCrypto.md
  src/bitcoin-node/Documentation.docc/BitcoinNode.md
  src/bitcoin-node/services/RPCService.swift
  src/bitcoin-rpc/Documentation.docc/BitcoinRPC.md
  src/bitcoin-rpc/commands/GenerateToAddressCommand.swift
  src/bitcoin-rpc/commands/GenerateToPubkeyCommand.swift
  src/bitcoin-rpc/commands/HelpCommand.swift
  src/bitcoin-transport/Documentation.docc/BitcoinTransport.md
  src/bitcoin-utility/Documentation.docc/BitcoinUtility.md
  src/bitcoin-utility/commands/Node.swift
  src/bitcoin-utility/commands/Node/GenerateToAddress.swift
  src/bitcoin-utility/commands/Node/SendCommand.swift
  src/bitcoin-utility/node/launchRPCClient.swift
  src/bitcoin-wallet/Documentation.docc/BitcoinWallet.md
  src/bitcoin-wallet/address/AnyAddress.swift
  src/bitcoin-wallet/address/BitcoinAddress.swift
  src/bitcoin-wallet/address/LegacyAddress.swift
  src/bitcoin-wallet/address/SegwitAddress.swift
  src/bitcoin-wallet/address/TaprootAddress.swift
  src/bitcoin/Documentation.docc/Bitcoin.md
  src/bitcoin/Documentation.docc/GettingStarted.md
  src/lmdb/Environment.swift
  test/bitcoin-blockchain/BlockTests.swift
  test/bitcoin-blockchain/BlockchainServiceTests.swift
  test/bitcoin-blockchain/PersistenceTests.swift
  test/bitcoin-transport/NodeBootstrapTests.swift
  test/bitcoin/BlockchainIntegrationTests.swift
  test/bitcoin/DocumentationExamples.swift
  test/lmdb/LMDBTests.swift
Labels: Documentation, Bugfix, Blocks, Core, Mining
